In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/smartphone_cleaned_my.csv')

In [3]:
df.shape

(877, 24)

In [4]:
df.head()

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_name,processor_brand,num_cores,...,fast_charging,screen_size,resolution,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory
0,oneplus,OnePlus Nord CE 2 Lite 5G,18999,81.0,True,False,False,Snapdragon 695,snapdragon,Octa Core,...,33,6.59,1080 x 2412,120,3,1,android,64.0,16.0,1 TB
1,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,Exynos 1330,exynos,Octa Core,...,15,6.60,1080 x 2408,90,3,1,android,50.0,13.0,1 TB
2,samsung,Samsung Galaxy F23 5G (6GB RAM + 128GB),16999,80.0,True,True,False,Snapdragon 750G,snapdragon,Octa Core,...,25,6.60,1080 x 2408,120,3,1,android,50.0,8.0,1 TB
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,Snapdragon 695,snapdragon,Octa Core,...,0,6.55,1080 x 2400,120,3,1,android,50.0,16.0,1 TB
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,Dimensity 1080,dimensity,Octa Core,...,67,6.70,1080 x 2412,120,3,1,android,108.0,16.0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand_name            877 non-null    object
 1   model                 877 non-null    object
 2   price                 877 non-null    int64
 3   rating                792 non-null    float64
 4   has_5g                877 non-null    bool
 5   has_nfc               877 non-null    bool
 6   has_ir_blaster        877 non-null    bool
 7   processor_name        848 non-null    object
 8   processor_brand       848 non-null    object
 9   num_cores             875 non-null    object
 10  processor_speed       862 non-null    float64
 11  ram_capacity          877 non-null    float64
 12  internal_memory       877 non-null    float64
 13  battery_capacity      865 non-null    float64
 14  fast_charging         877 non-null    int64
 15  screen_size           877 non-null    float64
 16  resolution            877 non-null    object
 17  refresh_rate          877 non-null    int64
 18  num_rear_cameras      877 non-null    int64
 19  num_front_cameras     877 non-null    object
 20  os                    877 non-null    object
 21  primary_camera_rear   877 non-null    float64
 22  primary_camera_front  874 non-null    float64
 23  extended_memory       877 non-null    object
dtypes: bool(3), float64(8), int64(4), object(9)
memory usage: 146.6+ KB

In [6]:
df.isnull().sum()

brand_name               0
model                    0
price                    0
rating                  85
has_5g                   0
has_nfc                  0
has_ir_blaster           0
processor_name          29
processor_brand         29
num_cores                2
processor_speed         15
ram_capacity             0
internal_memory          0
battery_capacity        12
fast_charging            0
screen_size              0
resolution               0
refresh_rate             0
num_rear_cameras         0
num_front_cameras        0
os                       0
primary_camera_rear      0
primary_camera_front     3
extended_memory          0
dtype: int64

In [7]:
df['processor_brand'].value_counts()

processor_brand
snapdragon    313
helio         254
dimensity     107
exynos         48
bionic         40
unisoc         32
tiger          19
qualcomm        9
a13             7
google          6
spreadtrum      4
sc9863a         3
kirin           3
fusion          1
sprd            1
mediatek        1
Name: count, dtype: int64

In [8]:
temp_df = df[df['processor_brand'] == 'qualcomm']
df.loc[temp_df.index, 'processor_brand'] = 'snapdragon'

In [9]:
temp_df = df[df['processor_brand'] == 'a13']
df.loc[temp_df.index, 'processor_brand'] = 'bionic'

In [10]:
df['processor_brand'].value_counts()

processor_brand
snapdragon    322
helio         254
dimensity     107
exynos         48
bionic         47
unisoc         32
tiger          19
google          6
spreadtrum      4
sc9863a         3
kirin           3
fusion          1
sprd            1
mediatek        1
Name: count, dtype: int64

In [11]:
df['num_cores'].value_counts()

num_cores
Octa Core    769
Quad Core     58
Hexa Core     47
Deca Core      1
Name: count, dtype: int64

In [12]:
def fast(row):

  if row['fast_charging'] == -1:
    return 0
  else:
    return 1

In [13]:
df.columns

Index(['brand_name', 'model', 'price', 'rating', 'has_5g', 'has_nfc',
       'has_ir_blaster', 'processor_name', 'processor_brand', 'num_cores',
       'processor_speed', 'ram_capacity', 'internal_memory',
       'battery_capacity', 'fast_charging', 'screen_size', 'resolution',
       'refresh_rate', 'num_rear_cameras', 'num_front_cameras', 'os',
       'primary_camera_rear', 'primary_camera_front', 'extended_memory'],
      dtype='object')

In [14]:
x = df.apply(fast,axis=1)
df.insert(14,'fast_charging_available',x)

In [15]:
df['fast_charging_available'].value_counts()

fast_charging_available
1    638
0    239
Name: count, dtype: int64

In [16]:
df['fast_charging'] = df['fast_charging'].apply(lambda x:np.nan if x == 0 or x == -1 else x)

In [18]:
df['extended_memory'].value_counts()

extended_memory
1 TB                    215
0                       213
256 GB                  178
512 GB                  139
Not Specified            55
128 GB                   32
Memory Card (Hybrid)     22
64 GB                    10
2 TB                      9
32 GB                     3
400 GB                    1
Name: count, dtype: int64

In [19]:
df['extended_memory_available'] = df['extended_memory'].apply(lambda x:0 if x == '0' else 1)

In [20]:
df['extended_memory_available'].value_counts()

extended_memory_available
1    664
0    213
Name: count, dtype: int64

In [21]:
def extended_extractor(row):
  if row['extended_memory'] == '0':
    return np.nan
  elif row['extended_memory'] == 'Not Specified':
    return np.nan
  elif row['extended_memory'] == 'Memory Card (Hybrid)':
    return np.nan
  else:
    return row['extended_memory']

In [22]:
x = df.apply(extended_extractor,axis=1).str.replace('\u2009',' ').str.split(' ').str.get(0)
df['extended_upto'] = x
df['extended_upto'].value_counts()

extended_upto
1      215
256    178
512    139
128     32
64      10
2        9
32       3
400      1
Name: count, dtype: int64

In [23]:
def transform(text):

  if text == '1':
    return '1024'
  elif text == '2':
    return '2048'
  elif text == '400':
    return '512'
  else:
    return text

In [24]:
df['extended_upto'] = df['extended_upto'].apply(transform)

In [25]:
df['extended_upto'].value_counts()

extended_upto
1024    215
256     178
512     140
128      32
64       10
2048      9
32        3
Name: count, dtype: int64

In [26]:
df['os'].value_counts()

os
android          822
ios               48
Not Specified      5
other              2
Name: count, dtype: int64

In [27]:
def os_transform(text):

  if 'Not Specified' in text:
    return np.nan
  elif 'android' in text:
    return text
  elif 'ios' in text:
    return text
  else:
    return 'other'

In [28]:
df['os'] = df['os'].apply(os_transform)

In [30]:
df['os'].value_counts()

os
android    822
ios         48
other        2
Name: count, dtype: int64

In [31]:
df.head()

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_name,processor_brand,num_cores,...,resolution,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory,extended_memory_available,extended_upto
0,oneplus,OnePlus Nord CE 2 Lite 5G,18999,81.0,True,False,False,Snapdragon 695,snapdragon,Octa Core,...,1080 x 2412,120,3,1,android,64.0,16.0,1 TB,1,1024
1,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,Exynos 1330,exynos,Octa Core,...,1080 x 2408,90,3,1,android,50.0,13.0,1 TB,1,1024
2,samsung,Samsung Galaxy F23 5G (6GB RAM + 128GB),16999,80.0,True,True,False,Snapdragon 750G,snapdragon,Octa Core,...,1080 x 2408,120,3,1,android,50.0,8.0,1 TB,1,1024
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,Snapdragon 695,snapdragon,Octa Core,...,1080 x 2400,120,3,1,android,50.0,16.0,1 TB,1,1024
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,Dimensity 1080,dimensity,Octa Core,...,1080 x 2412,120,3,1,android,108.0,16.0,0,0,NaN

In [32]:
df.drop(columns=['processor_name','extended_memory'],inplace=True)

In [33]:
df['num_cores'].value_counts()

num_cores
Octa Core    769
Quad Core     58
Hexa Core     47
Deca Core      1
Name: count, dtype: int64

In [34]:
df['num_cores'] = df['num_cores'].str.replace('Octa Core','8')
df['num_cores'] = df['num_cores'].str.replace('Hexa Core','6')
df['num_cores'] = df['num_cores'].str.replace('Quad Core','4')
df['num_cores'] = df['num_cores'].str.replace('Deca Core','8')

In [35]:
df['num_cores'].value_counts()

num_cores
8    770
4     58
6     47
Name: count, dtype: int64

In [36]:
df['num_cores'] = df['num_cores'].astype(float)

In [37]:
temp_df = df[df['num_front_cameras'] == 'Missing']
df.loc[temp_df.index,'num_front_cameras'] = np.nan

In [38]:
df['num_front_cameras'] = df['num_front_cameras'].astype(float)

In [39]:
df.to_csv('smartphone_cleaned_my3.csv',index=False)